@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid text-center">
    
        <img class="img-fluid" src="~/img/sample.jpg" alt="sample" style="margin:auto; max-width:100%; height:auto;"/>

</div>
